[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
python-decouple = "*"
whitenoise = "*"
gunicorn = "*"
sentry-sdk = "*"
django-csp = "*"
django-crispy-forms = "*"
django-profanity-filter = "*"

[requires]
python_version = "3.8"
