<!-- templates/article_detail.html -->
{% extends 'base.html' %}
{% block content %}
<div class="article-entry">
<h2>{{ object.title }}</h2>
<p>by {{ object.author }} | {{ object.date }}</p>
<p>{{ object.body|linebreaksbr }}</p>
</div>
<p><a class="btn btn-info ml-2" href="{% url 'article_edit' article.pk %}">Edit</a> <a class="btn btn-danger ml-2" href="{% url 'article_delete' article.pk %}">Delete</a></p>
<p><a class="btn btn-light ml-2" href="{% url 'article_list' %}">Back to All Articles</a></p>
{% endblock content %}
